<div style="height: 100vh; width: 100vw" {{did-insert (set this.containerElement)}}>
  <div
    {{moveable
      container=this.containerElement
      draggable=true
      resizable=true
      onResize=this.handleResize
      onDrag=this.handleDrag
    }}
  >
    Drag Me
  </div>
</div>